@import '../../../styles/vars';

.home {
  width: 100%;
  background: #fff;

  .home-search {
    width: 100%;
    background: rgba(246, 246, 246, 1);
    padding: 25px 80px;

    .home-search-link {
      display: inline-block;
      margin: 10px 10px 0;
      color: #555555;
    }
  }
}
