@import '../../../styles/vars';

.forgot-password {
  .forgot-password-title {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
  }

  .forgot-password-form {
    width: 300px;
  }

  .forgot-password-form-forgot {
    float: right;
  }

  .forgot-password-form-button {
    width: 100%;
  }
}
