.login-in {
  .login-title {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
  }
  .login-form {
    max-width: 300px;
  }
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
  }
}
