.provisions {
  margin: 40px 100px;
  padding: 20px;
  background: #f9f9f9;
  border: 1px solid #e4e4e4;
}

.operation {
  text-align: center;
  margin: 50px 0 0;

  button {
    margin: 0 20px;
  }
}

.link {
  color: #1d89cc;
  cursor: pointer;
}
